body
  font: 14px Lato, sans-serif
  font-weight: 400
  max-width: 800px
  padding: 60px
  margin: 0 auto
  color: #333

  @media print
    font-size: 12px
    padding: 20px

body > p:nth-of-type(1)
  float: right

  img
    max-width: 24px
    margin-bottom: -8px
    margin-right: 4px

  a
    display: inline-block
    height: 28px

h1, h2, h3, h4, h5, h6
  line-height: 1

h1
  margin: 0 0 8px 0

h2
  margin: 16px 0 8px 0

h3
  margin: 0 0 4px 0

p
  margin: 0 0 8px 0

[id="software-engineer-and-web-developer"]
  line-height: 16px

[id="wbinnssmith.com"]
  line-height: 16px
  margin-bottom: 24px

$black = #111

h1
  color: black
  font-size: 28px
  line-height: 24px
  font-weight: 300

h2
  color: $black
  font-size: 22px
  line-height: 24px
  text-transform: uppercase

h3
  color: $black
  font-size: 16px
  line-height: 24px

h4
  color: $black

h6
  font-size: 8px

a
  color:#0d6ea1
  text-decoration:none

a:hover
  color:#3593d9

small
  display: inline-block
  width: 100%
  margin-top: 8px
  color: rgba(0, 0, 0, 0.4)
  text-align: center
